@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;500;600;700&display=swap');

body{
  font-family: 'Jost', sans-serif;
}

nav{
  z-index: 10001!important;
}

.gradient-background{
  background: linear-gradient(99deg, #5961F9, #EE9AE5 100%);
}

.btn-primary{
  @apply py-3 px-8 bg-secondary font-semibold text-white rounded hover:bg-primary transition-all duration-300;
} 